bleach==1.5.0
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.11
gunicorn==19.6.0
html5lib==0.9999999
Markdown==2.6.7
olefile==0.44
Pillow==4.1.0
psycopg2==2.6.2
pyDatalog==0.17.1
python-decouple==3.0
pytz==2017.2
six==1.10.0
static3==0.7.0
Unipath==1.1
virtualenv==15.1.0
whitenoise==3.2.2
